.body{
    display: flex;
    font-family: "VT323", monospace;
    margin: 0;
}

input {
    font-family: inherit;
    padding: 6px 8px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    width: 120px;
    color: #533c44;
}

input:focus {
   outline: none;
}

button {
    display: inline-block;
    padding: 10px 28px;
    border: 2px solid #085e83;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: inherit;
    color: black;
    background-color: #a349a4;
    cursor: pointer;
}

button:hover {
    background-color: #423036;
}
  
button:active {
    background-color: #423036;
}

/**/
.rightSection {
    width: calc(100% - 60px - 500px);
    height: 100vh;
    position: absolute;
    background-color: white;
    z-index: +1;
    left: 560px;
    top: 0px;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 90px;
    top: 200px;
}

.tittle-game{
    background-image: url('../template/tittleFlappy.png');
    position: absolute;

}

/**/
.border-left-sup{
    width: 82px;
    height: 730px;
    position: absolute;
    background-color: #09122b;
    z-index: +2;
    top: 200px;
    
}

.border-left{
    width: 15px;
    height: 780px;
    position: absolute;
    background-color: #00a8f3;
    z-index: +3;
    top: 175px;
    left: 65px;
}

/**/
.border-right-sup{
    width: 80px;
    height: 730px;
    position: absolute;
    background-color: #09122b;
    z-index: +2;
    left: 590px; 
    top: 200px;
}

.border-right{
    width: 15px;
    height: 780px;
    position: absolute;
    background-color: #00a8f3;
    z-index: +3;
    top: 175px;
    left: 600px;  /*590*/
}

 /**/
.border-top-sup{
    width: 662px;
    height: 60px;
    position: absolute;
    background-color: #09122b;
    z-index: +2;
    bottom: 730px;
    right: -80px;
}

.border-top{
    width: 520px;
    height: 15px;
    position: absolute;
    background-color: #00a8f3;
    z-index: +3;
    left: -10px;
    bottom: 740px;

}

.border-bottom{
    width: 520px;
    height: 15px;
    position: absolute;
    background-color: #00a8f3;
    z-index: +3;
    left: -10px;
    top: 740px;

}

.sky{
    background-image: url('img/background.png');
    /*background-color: blue;*/
    width: 500px;
    height: 580px;
    position: absolute;
    z-index: -1;/**/

}

.ground{
    background-image: url('img/floor.png');
    /*background-color: brown;*/
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.ground-moving {
    position: absolute;
    top: 630px;
    height: 580px;
    background-image: url("img/floor.png");
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
    -webkit-animation: slideright 100s infinite linear;
    min-width: 100%;
}

.bird{
    background-image: url('img/bird.png');
    /*background-color: yellow;*/
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 300px;
}

/**/
.other-bird {
    background-image: url("img/bird.png");
    width: 60px;
    height: 45px;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.obstacle{
    background-image: url('img/pipe.png');
    /*background-color: green;*/
    width: 60px;
    height: 300px;
    position: absolute;

}

.topObstacle{
    background-image: url('img/pipe.png');
    /*background-color: green;*/
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}



.ground-moving {
    position: absolute;
    top: 580px;
    height: 150px;
    background-image: url('floor.png');
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
    -webkit-animation: slideright 100s infinite linear;
    width: 100%;
    z-index: +1;
  }

@keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
}

@-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
}

.title {
    margin: 60px 20px 20px;
    color: #533c44;
    font-size: 4vw;
    text-shadow: 2px 2px #dadada;
    text-align: center;
    width: 600px;
}

.instruction {
    margin: 0px 20px 0px;
    text-align: center;
    width: 600px;
    font-size: 25px;
}

.my-info {
    display: flex;
    justify-content: center;
    width: 600px;
}

.nickname {
    display: flex;
    margin: 20px 20px 40px 60px;
    text-align: center;
}

.my-score {
    font-size: 22px;
    margin-top: 1%;
    color: white;
}

.scoreboard {
    position: relative;
    max-width: 450px;
    margin: 20px 20px 20px 80px;
    padding: 20px;
    background-color: #2dbb4d;
    background-image: url(top-right-brown.png), url(top-left-brown.png),
      url(bottom-right-brown.png), url(bottom-left-brown.png);
    background-position: top right, top left, bottom right, bottom left;
    background-repeat: no-repeat;
}

.scoreboard:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 10px;
    display: block;
    width: calc(100% - 20px);
    height: calc(100% - 4px);
    border-top: 2px solid #8e4691;
    border-bottom: 2px solid #8e4691;
    z-index: 1;
}
  
  .scoreboard:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 20px);
    border-left: 2px solid #8e4691;
    border-right: 2px solid #8e4691;
    z-index: 1;
}

.score-title {
    margin: 0 0 0;
    font-family: "VT323", monospace;
    font-size: 3em;
    text-align: center;
    color: #077388;
    text-shadow: 2px 2px #20a260;
}

.top-score {
    text-align: center;
    margin: 0px 20px;
    font-size: 20px;
    color: #8e4691;
}

.score-list {
    position: relative;
    height: 250px;
    max-height: 250px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    z-index: 2;
}
  
  .score-item {
    display: flex;
    justify-content: space-between;
    margin: 2px 20px;
    list-style: none;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 1px black;
}
  