.body{
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 90px;
    top: 200px;
}

.tittle-game{
    background-image: url('../template/tittleFlappy.png');
    position: absolute;

}

/**/
.border-left-sup{
    width: 82px;
    height: 730px;
    position: absolute;
    background-color: #09122b;
    z-index: +2;
    top: 200px;
    
}

.border-left{
    width: 15px;
    height: 780px;
    position: absolute;
    background-color: #00a8f3;
    z-index: +3;
    top: 175px;
    left: 65px;
}

/**/
.border-right-sup{
    width: 80px;
    height: 730px;
    position: absolute;
    background-color: #09122b;
    z-index: +2;
    left: 590px; 
    top: 200px;
}

.border-right{
    width: 15px;
    height: 780px;
    position: absolute;
    background-color: #00a8f3;
    z-index: +3;
    top: 175px;
    left: 600px;  /*590*/
}

 /**/
.border-top-sup{
    width: 662px;
    height: 60px;
    position: absolute;
    background-color: #09122b;
    z-index: +2;
    bottom: 730px;
    right: -80px;
}

.border-top{
    width: 520px;
    height: 15px;
    position: absolute;
    background-color: #00a8f3;
    z-index: +3;
    left: -10px;
    bottom: 740px;

}

.border-bottom{
    width: 520px;
    height: 15px;
    position: absolute;
    background-color: #00a8f3;
    z-index: +3;
    left: -10px;
    top: 740px;

}

.sky{
    /*background-image: url('../template/background.png');*/
    background-color: blue;
    width: 500px;
    height: 580px;
    position: absolute;

}

.ground{
    /*background-image: url('../template/floor.png');*/
    background-color: brown;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.bird{
    /*background-image: url('../template/bird.png');*/
    background-color: yellow;
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
}

.obstacle{
    /*background-image: url('../template/pipe.png');*/
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;

}

.topObstacle{
    /*background-image: url('../template/pipe.png');*/
    background-color: green;
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}